.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

**/*.quarto_ipynb
codes.Rproj
computer_exam.R
vizee.R
proje kodu.R
scatter_sayfa_fiyat.png
dagilim_analizi.png
files.zip
files2.zip
images/clipboard-2130800554.png
images/clipboard-2349250249.png
images/clipboard-2663619395.png
images/clipboard-3164953279.png
images/clipboard-4147225318.png
images/clipboard-601527436.png
tum_kitaplar.csv
sinif-ici-alistirma/tum_kitaplar.csv
tum_kitaplar.csv
tum_kitaplar.xltx
yayinevi_fiyat.png
yerli_ceviri.png
tum_kitaplar_temiz.csv
sinif-ici-alistirma/tum_kitaplar.csv
sinif-ici-alistirma/tum_kitaplar.csv
sinif-ici-alistirma/tum_kitaplar.csv
sinif-ici-alistirma/tum_kitaplar.csv
projee.qmd
kitapyurdu_2000_temiz.csv
